<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Application de Réservation{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenue sur l'Application de Réservation d'Événements</h1>
    </header>

    <nav>
        <a href="{{ path('app_home') }}">Accueil</a>
        
        <a href="{{ path('app_inscription') }}">Inscription</a>
        <a href="{{ path('app_login') }}">Connexion</a>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>
